<div class="scramble-game">
  {{#if isStartState}}
    <div class="overlay">
      Press [Enter] to start!
    </div>
  {{/if}}
  <div class="game-area">
    {{#if isEndState}}
      <div class="overlay">
        Press [Enter] to play again!
      </div>
    {{/if}}
    {{word-display
      letters=currentChallenge.letters
    }}
    {{word-display
      letters=guessedLetters
    }}
  </div>
  <div class="state-area">
    {{stat-display
      label='Level'
      value=level
    }}
    {{stat-display
      label='Time'
      value=timeRemaining
    }}
    {{stat-display
      label='Score'
      value=score
    }}
    {{stat-display
      label='Last Word'
      value=lastWord
    }}
  </div>
</div>
