<div class="scramble-game">
  <div class="game-area">
    {{word-display
      letters=currentChallenge.letters
    }}
    {{word-display}}
  </div>
  <div class="state-area">
    {{stat-display
      label='Level'
      value=level
    }}
    {{stat-display
      label='Time'
      value=timeRemaining
    }}
    {{stat-display
      label='Score'
      value=score
    }}
  </div>
</div>
