<div class="scramble-game">
  {{! TODO: This is a brittle way of aligning the text, and probably won't work
      in all browsers. Use an image instead to get the pixel-perfect alignment
      with the top of the box.}}
  <div class="title">
    Concentration-Scramble
  </div>
  <div class="game-container">
    {{#if isStartState}}
      <div class="overlay">
        <p>
          Strain your memory in two ways at once! This is the classic
          word-unscrambling game, with a twist: disappearing letters!
        </p>
        <p>
          There are 18 levels. Can you make it through?
        </p>
        <p>
          The letters start to disappear on level 3.
        </p>
        <p>
          Press <strong>ENTER</strong> to play!
        </p>
      </div>
    {{/if}}
    <div class="game-area {{if showHidden 'show-hidden'}}">
      {{#if isEndState}}
        <div class="overlay">
          <h1>Game Over!</h1>
          <p>Score:</p>
          <div class="score">{{score}}</div>
          <p>
            Press <strong>ENTER</strong> to play again!
          </p>
        </div>
      {{/if}}
      {{word-display
        letters=currentChallenge.letters
      }}
      {{word-display
        letters=guessedLetters
        correctGuess=lastCorrectGuess
      }}
      <p>
        Just type letters to play.
      </p>
      <p>
        Press <strong>TAB</strong> to spend 2 points for a hint on the
        disappearing letters.
      </p>
    </div>
    <div class="state-area">
      {{stat-display
        label='Level'
        value=levelDisplayNumber
      }}
      {{stat-display
        label='Time'
        value=timeRemaining
      }}
      {{stat-display
        label='Score'
        value=score
      }}
      {{stat-display
        label='Last Word'
        value=lastWord
      }}
    </div>
  </div>
</div>
