<div class="word-display">
  <div class="guessing-display-area">
    {{#each letters as |lt|}}
      <div class="letter {{if lt.hidden 'hidden'}} {{if lt.guessed 'guessed'}}">
        <div class="character">
          {{lt.character}}
        </div>
      </div>
    {{/each}}
  </div>
  <div class="correct-guess-display-area {{if correctGuess 'show-guess'}}">
    {{#each correctGuessCharacters as |ch|}}
      <div class="letter correct">
        <div class="character">
          {{ch}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
